.icon1,
.title2 {
  position: relative;
  flex-shrink: 0;
}
.icon1 {
  height: 40px;
  width: 40px;
  overflow: hidden;
  min-height: 40px;
}
.title2 {
  width: 296px;
  line-height: 40px;
  font-weight: 700;
  display: inline-block;
}
.icon-group,
.pricing-card-2-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.icon-group {
  flex: 1;
  gap: var(--gap-base);
}
.pricing-card-2-inner {
  align-self: stretch;
  padding: 0 0 0 var(--padding-base);
  box-sizing: border-box;
  font-size: var(--font-size-13xl);
}
.what-youll-get1 {
  text-decoration: none;
  height: 32px;
  position: relative;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.bxs-check-circle-2-15 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.hours-usage-of1 {
  margin: 0;
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 187px;
}
.bxs-check-circle-2-1-parent2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.bxs-check-circle-2-16 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.access-to-all1 {
  width: 288px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.bxs-check-circle-2-1-parent3,
.frame-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-container {
  flex-direction: column;
  gap: var(--gap-5xl);
}
.divider1 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px dashed var(--color-darkgray);
  box-sizing: border-box;
}
.day {
  font-size: var(--font-size-lg);
}
.pricing1 {
  align-self: stretch;
  height: 45px;
  position: relative;
  line-height: 40px;
  color: var(--color-gray-100);
  display: inline-block;
  flex-shrink: 0;
  font-size: var(--font-size-13xl);
}
.frame-group {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-12xl-5);
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray);
}
.frame-group,
.pricing-card-2-child,
.what-youll-get-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.what-youll-get-group {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.pricing-card-2-child {
  width: 352px;
  flex-direction: row;
  padding: 0 var(--padding-base) var(--padding-175xl);
  box-sizing: border-box;
  max-width: 100%;
  color: var(--color-darkgray);
}
.button-label1 {
  flex: 1;
  position: relative;
  line-height: 40px;
  font-weight: 600;
  display: inline-block;
  max-width: 100%;
}
.pricing-card-2,
.primary-button1 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.primary-button1 {
  width: 352px;
  border-radius: var(--br-xs);
  background-color: var(--color-darkolivegreen);
  flex-direction: row;
  padding: var(--padding-xs) 0;
  text-align: center;
  color: var(--color-white);
}
.pricing-card-2 {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  flex-direction: column;
  padding: var(--padding-21xl) var(--padding-5xs) var(--padding-5xl)
    var(--padding-5xl);
  gap: var(--gap-13xl);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1000px) {
  .title2 {
    font-size: var(--font-size-7xl);
    line-height: 32px;
  }
}
@media screen and (max-width: 725px) {
  .pricing-card-2 {
    padding-top: var(--padding-7xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .title2 {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .icon-group {
    flex-wrap: wrap;
  }
  .what-youll-get1 {
    font-size: var(--font-size-lg);
  }
  .bxs-check-circle-2-1-parent2 {
    flex-wrap: wrap;
  }
  .frame-group {
    gap: var(--gap-base);
  }
  .pricing-card-2-child {
    padding-bottom: var(--padding-107xl);
    box-sizing: border-box;
  }
  .button-label1 {
    font-size: var(--font-size-lg);
    line-height: 32px;
  }
  .pricing-card-2 {
    gap: var(--gap-base);
  }
}
